:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

body {
    background-color: #FEFEFE;
}

header {
    background: #F6F6F6;
    padding: 20px;
    box-shadow: inset 0px 0px 1000px #000;
}

.banner {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.navegacao {
    position: absolute;
    top: 110px;
    right: 20px;
}

.lista {
    display: inline;
    margin-left: 15px;
}

.lista-link {
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: #241714;
}

.lista-link:hover {
    color: #5b1023;
    text-decoration: underline;
}

.lista-link:active {
    color: #bd7a22;
}

.produtos {
    width: 940px;
    margin: 0px auto;
    padding: 50px 0;
    max-height: 426px;
}

.produtos-lista {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
    padding: 30px 20px;
    margin: 0 1.25%;
    width: 30%;
    border: 2px solid #241714;
    border-top: 8px solid #241714;
    border-radius: 20px 80px;
}

.produtos-lista h2 {
    font-size: 22px;
    font-weight: bold;
}

.produtos-lista:hover {
    border: 2px solid #5b1023;
    border-top: 8px solid #5b1023;
}

.produtos-lista:active {
    border-color: #bd7a22;
}

.produtos-lista:hover h2 {
    font-size: 26px;
}

.produtos-descricao {
    font-size: 20px;
}

.produtos-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

.rodape {
    background: url("./img/bg.jpg");
    padding: 20px 0;
    text-align: center;
}

#copyright {
    color: #f6f6f6;
    font-size: 12px;
    margin: 10px 0 0;
}

@media screen and (max-width: 480px) {

    .banner {
        width: 100%;
        text-align: center;
    }

    .navegacao {
        position: static;
        padding: 10px 0 20px;
    }

    .lista {
        font-size: 12px;
        margin-left: 8px;
    }

    .produtos {
        width: 100%;
        padding: 20px 0;
    }

    .produtos-lista {
        width: 80%;
        margin: 20px 35px;
    }
}